
h1 {
    background-color: rgb(8, 160, 8);
    margin-bottom: 0;
    padding: 40px;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    padding: 10px;
}
nav a {
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 5px 40px;
    background-color: rgb(92, 21, 21);
    border-radius: 20px;
    color: rgb(119, 245, 245);
    font-size: 1.2rem;
}
nav a:hover {
    color: aliceblue;
    background-color: rgb(37, 33, 26);

}
main {
    display: grid;
    grid-template-columns: auto 300px;
}
.main {
    background-color: lightcoral;
    padding: 120px;
}
.aside {
    margin: 10px;
}
footer {
    padding: 40px;
    background-color: brown;
    display: flex;
    justify-content: center;
}
